<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body id="breaches-background">
      <form action="login">
        <input id="backButton" type="submit" value="Check another email"/>
      </form>
      <div class="form-result">
        <img id="breachIcon" src="img/siren.png">
        <h2 id="title">Breach Alert</h2>
        <div class="advice">
            <div id="advicePwned">
              <h3>What should I do if I've been pwned?</h3>
              <br/>
              <p>If your email has been pwned, it means that the security of your account has been compromised.
                Hacking an account using your email address is possibly the first step of identity theft. Here are three things you should
                do if your email has been pwned:
              </p>
              <br/>
              <br/>
              <table class=".table-responsive">
                <th></th>
                <tr>
                  <td>1. Update your antivirus and OS
                    <br>
                    <img src="img/updateOS.png">
                  </td>
                  <td>2. Scan your device for malware
                    <br>
                    <img src="img/antivirus.png">
                  </td>
                  <td>3. Now, change your passwords
                    <br>
                    <img src="img/securePW.png">
                  </td>
                </tr>
              </table>

              <p class="breachSection">
                <button class="btn btn-primary" style="background: #FF5E57; border-color: #FF5E57;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Compromised Accounts
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="breach-box" id="breaches">
                      <% for (var i = 0; i < values.length; i++) { %>
                        <span><%= values[i].substr(9, values[i].length - 11) %></span>
                      <% } %>
                    </table>
                    <p><%= errors %></p>
                  </div>
                </div>
              </div>
            </div>

            <div id="adviceSafe">
              <h3>How can I avoid being pwned?</h3>
              <br/>
              <div>
                <p>Discovering that your password or email have been leaked online and shared by cybercriminals
                  is no fun. Fortunately, there are many things you can do to avoid getting pwned. Here are additional steps you can
                  take to maintain security:
                </p>
              </div>
              <br/>
              <br/>
              <table>
                <th></th>
                <tr>
                  <td>1. Don't use the same password repeatedly
                    <br>
                    <img src="img/password.png">
                  </td>
                  <td>2. Enable 2-factor authentication
                    <br>
                    <img src="img/2FA.png">
                  </td>
                  <td>3. Change passwords regularly
                    <br>
                    <img src="img/changepw.png">
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
  <script>
    // counts number of breaches by adding up number of rows in table
    var rowCount = document.getElementById('breaches').childElementCount - 1;
    //hides content according to the number of breaches recorded in table
    if (rowCount < 2) {
      document.getElementById('breachIcon').src='img/check.png'
      document.getElementById('title').innerHTML='Great news!'
      document.getElementById("advicePwned").style.display = "none";
      document.getElementById("adviceSafe").style.display = "block";
      document.getElementById("backButton").style.background = "#00DF76";
    }

    // search function
    function searchBreaches() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("breachTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
