<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/form_layout.css">
    </head>
    <body>
        <div class="email-page">
            <div class="form">
              <form class="login-form" action="/login" method="POST">
                <input type="email" id="email" name="email" placeholder="email" required>
                <button>check email</button>
                <p class="message">Find out more at <a href="https://haveibeenpwned.com/">haveibeenpwned?</a></p>
              </form>
            </div>
        </div>
    </body>
</html>